.bmi-container {
    margin-bottom: 25px;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 2px 2px 4px rgba(135, 152, 173, 0.25);

    .border {
        width: 100%;
        height: 1px;
        display: block;
        background-color: #E0E0E0;
    }

    .bmi-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        height: calc(110px - 40px);

        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &.obese {
            background: #FFCCCC;
        }

        &.normal {
            background: #CCFFCC;
        }

        &.underweight {
            background: #FFCCCC;
        }

        .value {
            display: none;
            font-weight: bold;
            font-size: 26px;
            line-height: 61px;
            text-align: center;
            letter-spacing: 0.814285px;
            color: #4259C2;

            span {
                color: #4259C2;
                font-size: 48px;
            }
        }

        .title {
            font-size: 23px;
            text-align: center;
            letter-spacing: 0.256556px;
            color: #000000;
            margin-left: auto;
        }

        &.active {
            .value {
                display: block;
            }

            .title {
                font-weight: bold;
            }
        }

        &:not(.active) {
            background-color: white;
        }
    }
}