.chart-page-wrapper {
    //margin-top
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 30px;
    background-image: url("../images/graph-shape.svg");
    background-position: top center;
    background-size: calc(100% - 30px - 48px) auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: calc(100% - 48px);
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% 100%);

    @include tablet {
        padding-top: 40vw;
        margin-top: -53vw;
        background-size: calc(100% - 10px) auto;
    }

    @media (min-width: 800px) {
        padding-top: 250px;
        margin-top: -400px;
        clip-path: polygon(0 80px, 100% 300px, 100% 100%, 0% 100%);
    }

    .results {
        color: #4259c2;
        text-align: left;
    }

    .subheading {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.488571px;
        color: #444444;
        margin-bottom: 20px
    }

    .bullets {
        margin-bottom: 25px;
    }

    .btn {
        margin: auto;
    }

}

#chart-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 200px;
    overflow: hidden;

    @include tablet {
        width: calc(100% - 10px);
        padding-top: 100px;
    }


}

#chart {
    height: 800px;
}


#chartjs-tooltip, #chartjs-tooltip-1, #chartjs-tooltip-2 {
    background: #FFFFFF;
    box-shadow: 0 4px 11px rgba(41, 53, 102, 0.12);
    border-radius: 5.74492px;
    transform: translateY(-125%);
    z-index: 10;

    &-1, &-2 {
        opacity: 1 !important;
        z-index: 5;
    }

    @include tablet {
        &.first {
            transform: translateY(-150%);
        }

        &.last {
            transform: translateY(-150%);
        }
    }

    .tooltip-body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 5px;

        .weight {
            font-weight: 600;
            font-size: 13.23px;
            line-height: 14px;
            color: #0D0D0D;
            white-space: nowrap;
        }

        .bar {
            margin: 5px;
            width: calc(100% - 10px);
            height: 1px;
            display: block;
            background-color: #F0F1F5;
        }

        .month {
            font-size: 7.89927px;
            line-height: 9px;
            color: #9598A6;
        }
    }
}

.static-tooltip {
    transform: translate(0, -200%);

    .tooltip-body {
        p {
            font-size: 10px;
            line-height: 12px;
            color: #4259C2;
            white-space: nowrap;
        }

        .now {
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            color: #000000;
        }
    }

    &.now {
        transform: translate(0, -150%);
    }


    @include tablet {
        &.now {
            transform: translate(0, -150%);
        }

        &:last-of-type {
            transform: translate(0, -200%);
        }
    }
}
