.lost-block {
    margin-bottom: 25px;
    background: #FFFFFF;
    border: 1px solid rgba(176, 186, 201, 0.1);
    border-radius: 6px;
    padding: 25px 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;

    .percent {
        margin: auto 20px auto 0;
        font-weight: bold;
        font-size: 42px;
        line-height: 42px;
        color: #4259C2;
    }

    .sub-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #1A1E27;

        b {
            font-weight: 800;
        }

        span {
            color: #4259C2;
        }
    }

    &:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background: #4259C2;
    }
}