.person {
    background: #FFFFFF;
    border: 1px solid rgba(176, 186, 201, 0.1);
    border-radius: 6px;
    padding: 14px;
    margin-bottom: 30px;

    .row {
        display: flex;
        flex-flow: row nowrap;
    }

    .image-wrapper {
        width: 90px;
        height: 90px;
        border-radius: 50% 50%;
        border: 2px #4259C2 solid;
        position: relative;
        flex-shrink: 0;
        margin-right: 10px;

        .image {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 85px;
            height: 85px;
        }
    }

    .text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        .name {
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            color: #2E384D;
            margin-bottom: 15px;
        }

        .icon-w-text {
            display: flex;
            flex-flow: row nowrap;
            padding-left: 25px;
            position: relative;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            i {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;

                &.location-icon {
                    width: 13px;
                    height: 19px;
                    background-image: url("../icons/location.svg");
                }

                &.language-icon {
                    width: 19px;
                    height: 16px;
                    background-image: url("../icons/chat.svg");
                }
            }

            p {
                color: #8798AD;
                font-size: 15px;
                line-height: 18px;

                b {
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }

    .position {
        margin: 20px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .sub-text {
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;
        color: #2E384D;
    }
}