.phone-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 25px;

    i {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 48px;
        height: 60px;

        &.apple-icon {
            background-image: url("../icons/apple.svg");
        }

        &.android-icon {
            background-image: url("../icons/android.svg");
        }
    }
}