.product-card {
    background-color: #FFFFFF;
    border: 1px solid rgba(176, 186, 201, 0.1);
    border-radius: 6px;
    max-width: 290px;
    width: calc(100% - 40px);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto 25px;

    .head {
        background-color: #4259C2;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        h3 {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.6px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }

    .body {
        padding: 15px 20px 20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .price {
        display: flex;
        flex-flow: row nowrap;

        .dollar {
            margin-bottom: auto;
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.33px;
            color: #4259C2;
        }

        .amount {
            font-weight: bold;
            font-size: 64px;
            text-align: center;
            letter-spacing: 0.66px;
            color: #4259C2;
        }

        .per-month {
            display: flex;
            margin: auto 0;
            flex-flow: column nowrap;

            span {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.185625px;
                color: #4259C2;
            }
        }
    }

    .billed-monthly {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #AAAAAA;
        margin-bottom: 25px;
    }

    .check-list {
        list-style: none;
        width: 240px;
        margin: 0 auto 25px;

        li {
            padding-left: 25px;
            position: relative;
            font-size: 14px;
            line-height: 32px;
            color: #3E4047;

            &:before {
                background-image: url("../icons/check.svg");
                display: block;
                content: '';
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 14px;
                height: 9px;
                position: absolute;
                left: 0;
                top: 12px;
            }
        }
    }

    .btn {
        padding: 12px 0;
        width: 100%;
        margin-bottom: 15px;
    }

    .cancel {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #8798AD;
    }
}

.payment-icons {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin: auto auto 25px;
    max-width: 350px;

    i {
        margin-bottom: 20px;
        height: 80px;
        width: 30%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
}