.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    bottom: 0;
    background-color: #4259C2;
    overflow-y: scroll;
    z-index: 20;
    transform: translateX(-100%);
    transition: all 0.45s;
    display: none;

    @include tablet {
        display: block;
    }

    &.shown {
        transform: unset;
    }

    .close {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;

        span {
            background-color: white;
            width: 100%;
            height: 5px;
            border-radius: 3px;
            transform-origin: center center;

            &:first-child {
                transform: translateY(7px) rotate(-45deg);
            }
            &:last-child {
                transform: translateY(-7.5px) rotate(45deg);
            }
        }
    }

    &-container {
        padding: 120px 30px 30px;

        .btn {
            margin-bottom: 15px;
            width: calc(100% - 40px);
            padding: 10px 20px;
        }
    }

    &-cover {
        display: none;
        background-color: #FFFFFF;
        opacity: 0.5;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        width: 25vw;
        bottom: 0;
    }
}