@keyframes errShake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    20% {
        transform: translateX(0);
    }
}

.animation-shake {
    animation: errShake 0.45s
}