* {
    font-family: $grotesk;
    color: #2E384D;
}

body {
    background-color: #F6F6F8;
    position: relative;
    overflow-x: hidden;

    &:after, &:before {
        content: '';
        display: block;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
    }

    &:before {
        left: 0;
        background-position: left center;
        background-image: url('../images/body-left.png');
        top: 0;
        height: calc(524 / 1440 * 100vw);
        width: calc(284 / 1440 * 100vw);
    }

    &:after {
        right: 0;
        background-position: right center;
        background-image: url('../images/body-right.png');
        top: 0;
        height: calc(400 / 1440 * 100vw);
        width: calc((1440 - 1052) / 1440 * 100vw);
    }

    @include tablet {
        &:after, &:before {
            content: none;
        }
    }
}

.wrapper {
    width: calc(100% - 48px);
    padding: 0 24px;
    max-width: $lg;
    margin: auto;

    &-medium {
        max-width: $md;
    }

    &-small {
        max-width: $sm;
    }

    .image {
        max-width: 325px;
        max-height: 325px;
        margin: auto auto 22px;
        width: auto;
        height: auto;
        display: block;
    }
}
