.heading {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 25px;

    @include tablet {
        font-size: 24px;
        text-align: left;
        line-height: 32px;
    }

    &-large {
        font-size: 48px;
        line-height: 42px;
        margin-bottom: 40px;

        @include tablet {
            font-size: 36px;
            line-height: 32px;
            text-align: center;
        }
    }

    &-center {
        @include tablet {
            text-align: center;
        }
    }

    &-left {
        @include tablet {
            text-align: left;
        }
    }
}

.subheading {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;

    @include tablet {
        font-size: 18px;
        line-height: 23px;
    }
}

a.link {
    color: #4259C2;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;

    &:hover {
        color: #4B5BBF;
    }

    &:active {
        color: #2B3793;
    }
}

ul.bullets {
    list-style: none;

    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            display: block;
            content: '';
            top: 7px;
            left: 0;
            width: 18px;
            height: 18px;
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &-blue li:before {
        background-image: url("../icons/bullet-blue.svg");
    }

    &-green li:before {
        background-image: url("../icons/bullet-green.svg");
    }

    &-orange li:before {
        background-image: url("../icons/bullet-orange.svg");
    }

    &-check li {
        padding-left: 46px;

        &:before {
            width: 26px;
            height: 26px;
            background-image: url("../icons/bullet-check.svg");
        }
    }
}

.blue {
    color: #4259C2;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #2E384D;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #8798AD;
    margin-bottom: 22px;

    &:last-child {
        margin-bottom: 0;
    }
}