#success {
    .main {
        padding-top: 70px;

        @include tablet {
            padding-top: 0;
        }

        .wrapper {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            .text {
                display: flex;
                flex-flow: column nowrap;

                h1 {
                    margin-right: auto;
                }

                p {
                    font-weight: 500;
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 19px;
                }
            }

            .video {
                width: 600px;
                height: 337.5px;
                margin-top: 40px;

                @include tablet {
                    width: calc(100% + 24px);
                    margin: 40px 0 0;
                    height: calc((100vw - 24px) * (337.5 / 600));
                }
            }
        }
    }
}