#homepage {
    .main {
        padding-top: 100px;

        @include tablet {
            padding-top: 0;
        }

        .wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            @include tablet {
                flex-direction: column-reverse;
                justify-content: unset;
            }

            .left {
                width: 485px;
                flex-shrink: 1;
                margin-right: auto;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;

                @include tablet {
                    width: 100%;
                    flex-shrink: 0;
                }

                h1 {
                    font-size: 48px;
                    width: 100%;
                    font-weight: bold;
                    line-height: 52px;

                    @include tablet {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }

                .btn {
                    margin-top: 40px;
                    margin-bottom: auto;
                    @include tablet {
                        width: calc(100% - 140px);
                    }
                }
            }

            .right {
                width: 600px;
                margin-right: -70px;

                @media only screen and (max-width: calc(#{$lg} + 140px)) {
                    margin-right: 0;
                }

                @include tablet {
                    width: calc(100% + 24px);
                    margin: 0 0 50px;
                }

                .video {
                    height: 337.5px;
                    width: 100%;

                    @include tablet {
                        height: calc((100vw - 24px) * (337.5 / 600));
                        margin: 0 -12px;
                    }
                }
            }
        }
    }
}