#product {
    .main {
        padding-top: 70px;

        h1 {
            margin: auto;
            padding: 0;
        }

        @include tablet {
            padding-top: 0;
        }
    }

    .product-page-container {
        padding: 90px 0 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            width: 100%;
            padding-top: 35px;
        }

        .left.bullets-check.bullets {
            margin-top: 40px;

            @include tablet {
                margin-top: 0;
            }

            li {
                width: 280px;

                @include tablet {
                    width: calc(100% - 46px);
                }
            }
        }

        .right.product-card {
            margin: 0 0 0 auto;
        }

    }

    h2.heading {
        margin: 65px auto 80px;
        padding: 0;

        @include tablet {
            margin: 45px auto;
        }
    }

    .client {
        margin: auto;
    }
}