#payment {
    .main {
        padding-top: 70px;

        @include tablet {
            padding-top: 0;
        }

        .wrapper {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            .subheading {
                margin-bottom: 60px;
                @include tablet {
                    margin-bottom: 25px;
                }
            }

            .btn {
                @include tablet {
                    width: 100%;
                    margin-bottom: 35px;
                }
            }
        }
    }
}