#profile {
    .bullets.bullets-blue {
        margin-bottom: 20px;
    }

    .client {
        margin: 20px 0 25px;
    }

    .heading-large + .heading {
        margin-bottom: 5px;
    }

    .range-slider {
        margin: 15px 0 40px;
    }

    .schedule {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 30px;
        max-width: 375px;

        & + .heading {
            margin-bottom: 5px;
        }
    }

    .btn {
        padding: 12px 0;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;

        &--orange {
            margin: 15px 0 20px;
        }
    }
}