#part-3-partner {
    .heading {
        @include tablet {
            text-align: left;
        }
    }

    .bullets-check {
        margin-bottom: 15px;

        li {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            padding-left: 40px;

            &:before {
                top: 50%;
                width: 26px;
                height: 26px;
                transform: translateY(-50%);
            }
        }

        & + p {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 35px;
        }
    }

}