#product-1 {
    h1.heading {
        margin-bottom: 35px;
    }

    .bullets-check {
        margin-bottom: 70px;
    }
    .product-card {
        margin-bottom: 45px;
        & + .heading {
            margin-bottom: 45px;
        }
    }

    .client {
        margin-bottom: 40px;

        & + .heading {
            margin-bottom: 30px;
        }
    }

    .accordion-group {
        margin-bottom: 40px;
    }
}