#part-3-landing {

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 0;
        z-index: 10;
        background-color: #f6f6f8;

        .wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .logo {
            margin-left: 0;
            margin-right: 0;

            @include tablet {
                margin: auto;
            }
        }

        .nav {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-left: auto;
            align-items: center;

            .link {
                margin: 0 15px;
            }

            @include tablet {
                display: none;
            }
        }
    }

    main {
        padding-top: 120px;
        @include tablet {
            padding-top: 75px;
        }
    }

    .image {
        height: auto;
        width: auto;
        max-width: 780px;
        max-height: 780px;
        @include tablet {
            max-width: 360px;
            max-height: 360px;
        }
        display: block;
        margin: 15px auto;
    }

    .academy-image {
        margin: 35px auto;
        width: 100%;
    }

    p:not(.sub-title):not(.name):not(.position):not(.slide-body) {
        margin-bottom: 25px;
        @include tablet {
            margin-bottom: 15px;
        }
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;

        &.signature {
            margin-bottom: 0;
        }
    }

    .bullets--check {
        li:after {
            top: 5px;
        }
    }

    .timer {
        margin-bottom: 50px;

    }

    h1.heading {
        margin: 35px 0;

        & + .subheading {
            margin-bottom: 50px;
        }
    }

    iframe {
        width: 100%;
        height: calc(780px / 16 * 9);
        @include tablet {
            height: calc((100vw - 48px) / 16 * 9);
        }
    }

    .video-subtitle {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
        margin-bottom: 50px;

        & + .heading {
            margin-bottom: 30px;
        }
    }

    .questions {
        margin-bottom: 30px;

        p {
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 15px;
        }
    }

    .plain-bullets {
        margin-bottom: 30px;

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 15px;
        }

        & + .subheading {
            margin-bottom: 0;

            & + .heading {
                margin-bottom: 30px;
            }
        }
    }

    .bullet-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
    }

    .bullets-orange {
        margin: 30px 0;
        & + p {
            margin-bottom: 35px;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;

            & + .heading {
                text-align: center;
                margin-bottom: 35px;
            }
        }
    }

    .myth-heading {
        margin: 35px 0;
    }

    .myth {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin-top: 35px;
    }

    .bullets--check {
        margin-top: 35px;
        margin-bottom: 25px;

        & + p {
            margin-bottom: 30px;

            & + .heading {
                text-align: center;
            }
        }
    }

    .academy-image {
        margin: 0 auto;
        & + p {
            margin: 15px 0 35px;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
        }
    }

    .heading-7-things {
        margin: 45px 0 35px;
        text-align: center;
    }

    .academy-image + p.numbered {
        text-align: left;
        margin: 40px 0;

        span {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 18px;
            display: block;
            line-height: 25px;
        }

        & + .heading {
            text-align: center;
        }
    }

    .case-image {
        max-height: 550px;
        @include tablet {
            max-height: 225px;
        }
    }

    iframe.case-image {
        max-height: unset;
        margin: 5px auto 50px;
    }

    .heading.meet-ilka {
        margin-top: 25px;
    }

    .subheading.what-learn {
        margin: 25px 0 0;

        & + .heading {
            text-align: center;
        }
    }

    .slider {
        margin-bottom: 40px;
    }

    .course-image {
        margin-bottom: 40px;
    }

    .accordion-group.course-accordion + p {
        margin-top: 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .green-number-heading {
        margin-top: 40px;
    }

    .green-numbers {
        margin: 50px 0;
        & + .heading {
            margin-bottom: 50px;
        }
    }

    .why-image {
        margin: 50px auto;
    }

    .why-subheading {
        margin-top: 40px;
    }

    .product-card {
        margin: 80px auto 0;
    }

    .payments .title {
        text-align: center;
    }
    .payment-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .img-wrapper {
            width: 80px;
            height: 50px;
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(3n - 1) {
                margin: 0 20px;
            }

            margin-bottom: 20px;

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .heading-faq {
        text-align: left;
        margin-top: 20px;
    }
}
