#intro {
    .heading {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        color: #2E384D;
        margin-bottom: 0;
        text-align: left;
    }

    .subheading {
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: #979797;
        text-align: left;
    }

    .intro-image {
        padding: 30px 0 90px;
        display: block;
        margin: auto;
        width: 260px;
    }
}